<div class="p-5">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <media-uploader
          #srcUploader
          name="src"
          [src]="modal.src"
          [disabled]="false"
          [accept]="'.png, .jpg, .mp4'"
          [maxSize]="5000000"
          [preview]="true"
          [(file)]="modal.file"
          (result)="handleResult($event)"
          [message]="message">
        </media-uploader>
      </div>
      <div class="col-3">
        <media-uploader
          name="src2"
          [src]="modal.src2"
          [disabled]="false"
          [accept]="'.png, .jpg, .mp4'"
          [maxSize]="5000000"
          [preview]="true"
          [(file)]="modal.file2"
          (result)="handleResult($event)"
          [message]="message">
        </media-uploader>
      </div>
    </div>
  </div>

  <button (click)="reset()" type="button" class="btn btn-danger me-1">Reset</button>
  <button (click)="save()" type="button" class="btn btn-primary">Save</button>
</div>